.ltx_page_footer {
    visibility:hidden 
}

.ltx_page_header {
    visibility:hidden;
    margin-bottom: 0px;
    border-bottom: 0px;
    font-size: 0.0em;
}

.ltx_title.ltx_title_chapter {
    font-size: 18pt;
}


.ltx_note_mark {
    color: #c88df0; /*#03DAC6;*/
}

.ltx_note_content {
    background-color: #702670;
}

.ltx_title.ltx_title_document {
    visibility:hidden;
    font-size: 0%;
}

body {
    background-color: #1C1B22;
    font
}

.ltx_p {
    font-family: 'Open Sans';
}

.ltx_page_main {
    color: white;
    padding: 0.05;
}

a, a:hover, a:visited, a:active {
    color: #0077aa;
}
